
hr{ margin-top: 15px;margin-bottom: 15px;border: 0; border-top: 1px solid #dce0e0;}
i{color: #008489!important;; font-size: 13px!important;}
/*SLIDER CSS*/
.description{position: absolute;bottom: 0;opacity: 0;visibility: hidden;left: 0;right: 0;-webkit-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;-webkit-transition-delay: 0;transition-delay: 0;-webkit-transition-property: all;-webkit-transition-duration: 0.25s;-webkit-transition-timing-function: ease-in-out;transition-property: all;transition-duration: 0.25s;transition-timing-function: ease-in-out;background-color: #fff;color: #fff;cursor: pointer;font: 500 14px 'Raleway';padding: 20px;padding-right: 60px;-webkit-transform: translateY(100%);-moz-transform: translateY(100%);-o-transform: translateY(100%);-ms-transform: translateY(100%);transform: translateY(100%);}
.col .image:hover .description {-webkit-transform: translateY(0);-moz-transform: translateY(0);-o-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);opacity: 1;visibility: visible;}
.col .image .description h3 {text-transform: uppercase;color: #313537;font-size: 14px;font-weight: 700;font-family: 'Raleway';margin-top: 0;margin-bottom: 5px;letter-spacing: 0;}
.col .image .description p {margin-bottom: 0;font-size: 12px;line-height: 12px;color: #949595;font-family: 'Raleway';font-weight: 400;}
.col .image .description .like-photo {position: absolute;right: 20px;top: 20px;text-align: center;color: #404041;font-size: 12px;font-family: 'Raleway';}
.col .image .description .like-photo i {color: #404041;font-size: 17px;margin-bottom: 3px;display: block;text-align: center;}
.col .image img {width: 100%;}

/*PLACE CSS*/

.menu_bar{font-size: 22px!important; padding: 7px;}
.fs25{font-size: 25px!important}
.main_menu li{display: inline-block; cursor: pointer; }
.main_menu a{color: #484848;font-family: 'MuseoSansCyrl'; font-size: 17px;}
.main_menu_wrap{position: fixed; left: 0;z-index: 90; top: 40px;}
.main_menu_wrap_scrolled{position: fixed; left: 0;z-index: 90; background-color: #fff; top: 0;}
.activ{background: rgba(0,0,0,.5);}
.myslider{height: 550px;}
.mymap{height: 550px;}
.place_name{ font-size: 36px; font-weight: 700; color: #484848; line-height: 44px; }
.myface{width: 75px; height: 75px; border-radius: 100%;}
.myface_feedback{width: 52px; height: 52px; border-radius: 100%;}
.my_face_wrap{text-align: center;}
.dataicon{text-align: center;}
.dataicon img{width: 50px;}
.descript{color: #7d7d7d}
.feedback_message{font-size: 18px; font-weight: 200; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.about_message{font-size: 18px; font-weight: 200; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.panel_text{font-weight: 200; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.canvas{height: 100%;min-height: 650px;}
.footer{height: 100px;}
.panel{position: absolute;border: 1px solid #dce0e0;background-color: #fff;;width: 315px;height: 225px;z-index: 10;top: 80px;left: 50px;border-radius: 2px;}
.order_btn{width:70%;}

.mdate td{width: 50px;height: 80px;}

.modalDialog {position: fixed;font-family: Arial, Helvetica, sans-serif;top: 0;right: 0;bottom: 0;left: 0;background: rgba(0,0,0,0.8);z-index: 99999;-webkit-transition: opacity 400ms ease-in;-moz-transition: opacity 400ms ease-in;transition: opacity 400ms ease-in;display: none;pointer-events: none;}
.modalDialog:target {display: block;pointer-events: auto;}
.modalDialog > div {position: relative;margin: 4% auto;padding: 5px 20px 13px 20px;border-radius: 10px;background: #fff;}
.input-group{float: inherit!important;}

/*PROFILE CSS*/

.short{width: 98%!important;}
.bgprofile{height: 400px; background: url(../img/blrdbg.jpg); background-size: cover;}
.myface_logo{width: 35px; height:35px; border-radius: 100%;}
.tab_menu{color: #484848}
.order_filter{font-size: 12px;font-weight: 200;padding-right: 35px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; cursor: pointer;}
.data_order{font-size: 17px;font-weight: 200;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; cursor: pointer;}
.name_order{font-size: 20px;font-weight: 200;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; cursor: pointer;}
.order_filter:hover{color: #008489;}
.head_colomn{text-align: center;}
.wrap_head{background-color: #ffaa91;}
.wrap_head_other{background-color: #008489;}
.dropdown_arrow{font-size: 17px!important;color: #484848!important;position: absolute;right: 0;}
.form-control{width: 95%; height: 25px; border: none;background-color: #f5f5f5;display: inline;box-shadow: none;}
.form-control:focus{box-shadow: none;}






